
@{
    ViewBag.Title = "Directions";
}

<h2>Directions</h2>

<h4>So how's this work?</h4>

<div>
    <p>First things first: Build your database of schools. That's what this whole thing revolves around - because without the educational institutions the student athletes would have no place to showcase their talents. Navigate to the "Schools" section or click this @Html.ActionLink("hyperlink", "Create", "School") to get started.</p>
    <br />
    <p>Once you have at least one school added, you can begin having the real fun and adding prospects. Go to the "Prospects" page or click @Html.ActionLink("here", "Create", "Prospect") to add your first prospect to your database.</p>
    <br />
    <p>You have your school and you have your prospect. Now you need to add a scout. How else will you know if he's a good prospect or not? Click @Html.ActionLink("here", "Create", "Scout") to add a scout to your team.</p>
    <br />
    <p>After you have your scout added, send him on @Html.ActionLink("assignment", "Create", "Assignment") to check out the school. You'll see drop down lists of the school and the scout, plus there's room to add details of the assignment.</p>
    <br />
    <p>We now have the issue of your draft board... If you decide the prospect is worth drafting (and click the check box during prospect creation) he'll end up on the draft board. Check out all of the prospects by clicking on the "Draft Board" section at the top of the page. </p>
    <br />
    <br />
    <h4>Happy Drafting!</h4>
</div>