
@{
    ViewBag.Title = "Directions";
}

<h2>Directions</h2>

<h4>So how's this work?</h4>

<div>
    <p>First things first: Build your database of schools. That's what this whole thing revolves around - because without the educational institutions the student athletes would have no place to showcase their talents. Navigate to the "Schools" section or click this @Html.ActionLink("hyperlink", "Create", "School") to get started.</p>
    <br />
    <p>Once you have at least one school added, you can begin having the real fun and adding prospects. Go to the "Prospects" page or click @Html.ActionLink("here", "Create", "Prospect") to add your first prospect to your database.</p>
</div>