
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>All Work, No Play</h1>
    <p class="lead">Championships are won through the draft. You know this. And we know you know this. By using our website you'll be able to record your scouts, prospects, assignments, and your draft board.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Where to Begin?</h2>
        <p>
            This scouting tool is centered around the schools. So make a school, or two, or twelve. Then start adding prospects.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("MORE", "Directions", "Home")</a></p>
    </div>
    <div class="col-md-6">
        <h2>Want Other Opinions?</h2>
        <p>On the off chance that you want to know what talking heads and other "experts" think, here </p>
        <p><a class="btn btn-default" @Html.ActionLink("MORE", "Resources", "Home")</a></p>
    </div>
</div>